<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="success-bg">
<div class="fullscreen-container">
    <div class="dashboard-card">

        <h2>✅ Attendance Marked Successfully</h2>
        <p class="subtitle">Your attendance has been recorded.</p>

        <a href="/student" class="primary-btn">
            ← Back to Dashboard
        </a>

    </div>
</div>
</body>
</html>
